@import "tailwindcss";

@theme {
  --color-brand-black: #000000;
  --color-brand-gray-dark: #333333;
  --color-brand-gray: #f5f5f5;
  --color-brand-white: #ffffff;
}

@layer base {

  html,
  body {
    @apply bg-brand-white text-brand-black antialiased selection:bg-brand-black selection:text-brand-white;
    min-height: 100vh;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}