@import "tailwindcss";

@theme {
  --color-green-800: #1e3629;
  --color-green-700: #2c4c3b;
  --color-green-600: #3a624d;
  --color-sand-100: #fdfbf7;
  --color-sand-200: #f5f2eb;
  --color-charcoal: #111111;
}

@layer base {

  html,
  body {
    @apply bg-sand-100 text-charcoal antialiased selection:bg-green-700 selection:text-white;
    min-height: 100vh;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}